@font-face {
    font-family: CHARLEY;
    src: url(fuentes/CHARLEY.otf);
}

@font-face {
    font-family: MagistralBlack;
    src: url(fuentes/MagistralBlack.otf);
}

@font-face {
    font-family: meditative;
    src: url(fuentes/meditative.otf);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.elementoflex1{
    width: 33%;
    height: 30%;
    font-family: 'Lobster', sans-serif;

}

.elementoflex2{
    width: 33%;
    height: 30%;
    font-family: 'DM Serif Display', serif;
}

.elementoflex3{
    width: 33%;
    height: 30%;
    font-family: 'Red Hat Display', sans-serif;
}

.elementoflex4{
    width: 33%;
    height: 30%;
    font-family: 'Abril Fatface', serif;
}

.elementoflex5{
    width: 33%;
    height: 30%;
    font-family: 'DM Mono', monospace;
}

.elementoflex6{
    width: 33%;
    height: 30%;
    font-family: 'Josefin Sans', sans-serif;
}

.elementoflex7{
    width: 33%;
    height: 30%;
    font-family: meditative;
}


.elementoflex8{
    width: 33%;
    height: 30%;
    font-family: MagistralBlack;
}

.elementoflex9{
    width: 33%;
    height: 30%;
    font-family: CHARLEY;
}

